/************* SEARCH BOX *************/
.search-container
{
  display: flex;
  justify-content: flex-start;
  width: 100%;    
  padding-left: 15%; 
}

.search-box-container
{
    display: inline-block;
    width: 300px;   
}
  
.search-box-container input 
{
  height: 30px;
  width: 80%;    
  display: inline-block;
  font-size: 14px;
}
  
.icon
{
  font-size: 1.4em;
}

/************* HEADER *************/
.top-nav-container
{
    height: 100%;
    background-color: #0071b5;
}

.top-nav-item
{
    width: 15%;
    font-weight: bold;
}

.logo img
{
  width: 75px;
}

/************* FOOTER *************/
#container-footer
{
  background-color: #0071b5;
}

.container-footer-menu
{
  width: 70%;
}

footer li
{
    display: inline-block;
    padding: 20px 16px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1.6em;
}

footer li:nth-child(1)
{
    padding-left: 0;
}

footer a 
{
    color:white;
    text-transform: capitalize;
    font-weight:600;
}

footer ul
{
    list-style-type: none;
}


/************* PRODUCT PAGE *************/
.product-container
{
    width: 90%;
    background-color: white;
    color: black;
}

.product-container img
{
    padding: 10 10px;
}

.product-container p
{
    font-size: 12px;
}

.item-card
{
    margin: 5px 10px;
    border: 1px solid #e3e3e3;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    background-color: white;
    overflow: hidden;
}

.card-description-price
{
    font-size: 16px;
}

.card-description-others
{
    font-size: 14px;
}

.item-card img
{
    height:200px;
    object-fit: contain;
    cursor: pointer;
    padding: 10px;
}

.item-content
{
    padding:0 16px
}

.hero-container
{
    width: 100%;
    height: 500px
}

.hero-container img
{
  height: 100px;
  object-fit: cover;
  background-repeat: no-repeat;
  cursor: pointer;

}

/************* PRODUCT DETAILS PAGE *************/
#product-detail
{
  padding-left: 40px;
}

#product-detail > div
{
    margin:16px 0px;
}

#product-detail > div > img
{
    grid-column: 1;
    max-height: 600px;
    object-fit: contain;
}

.product-description-content-area
{
    text-align: left;
    max-width: 70%;
}

.product-description-content-area > p
{
  font-size: 16px;
}

.description-info
{
  margin-top: 16px;
}

/************* REGISTRATION FORM *************/
.form-container
{
  margin-top: 200px;
  width: 30%;
}

.form-control 
{
  margin-bottom:20px;
}

.form-control label
{
    display:block;
    margin:8px 0;
    color : black;
}

.form-control input[type="text"],.form-control input[type="password"]
{
    width: 100%;
    border: 1.75px solid darkgray;
    font-size: 0.9rem;
    padding: 8px;
}   

.form-control input[type="button"],
.form-control input[type="submit"]
{
    background-color: #3498db;
    color:#fff;
    font-size:1rem;
    width:100%;
    display: block;
    padding:8px 0px;
    margin-top: 16px;
    border:2px solid #3498db;
    border-radius: 5px;
    cursor: pointer;
}

.form-control span
{
    color:#f00;
    font-size: 0.8rem;
    width: 100%;
    float: right;
}
  
.error > span
{
  display: block;
}

.sucess-message
{
  color: green;
  font-size: 16px;
}

/************* HERO SLIDER *************/
/* https://css-tricks.com/css-only-carousel/ */
@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }

  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    height: 600px;
    position: relative;
    margin-top: 25px;
    padding-top: 15%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }
  
  .carousel__viewport {
    height: 600px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    background-image: url("../images/Hero_1.jpg");
    counter-increment: item;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .carousel__slide:nth-child(2) 
  {
    background-image: url("../images/Hero_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .carousel__slide:nth-child(3) 
  {
    background-image: url("../images/Hero_3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .carousel__slide:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: relative;
    top: -50px;
    right: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 12.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }